<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=ATL-SQL-02;Initial Catalog=Measure;User ID=sa;Password=Matthew633;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="MeasureEntities" connectionString="metadata=res://*/MeasureDB.csdl|res://*/MeasureDB.ssdl|res://*/MeasureDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=Measure;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="IdentityLocal" connectionString="data source=(localdb)\v11.0;initial catalog=Measure;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="IdentityLive" connectionString="Data Source=ATL-SQL-02;Initial Catalog=Measure;User ID=sa;Password=Matthew633;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="IdentityAzure" connectionString="Data Source=wzw8lcmdl5.database.windows.net,1433;Database=Measure;User ID=robert@wzw8lcmdl5;Password=Matthew633;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="MeasureLocal" connectionString="metadata=res://*/MeasureDB.csdl|res://*/MeasureDB.ssdl|res://*/MeasureDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=Measure;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="MeasureLive" connectionString="metadata=res://*/MeasureDB.csdl|res://*/MeasureDB.ssdl|res://*/MeasureDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ATL-SQL-02;Initial Catalog=Measure;User ID=sa;Password=Matthew633;Pooling=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="MeasureAzure" connectionString="metadata=res://*/MeasureDB.csdl|res://*/MeasureDB.ssdl|res://*/MeasureDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=wzw8lcmdl5.database.windows.net,1433;Database=Measure;User ID=robert@wzw8lcmdl5;Password=Matthew633;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>