<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cfi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Cfi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Cfi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MeasureEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/MeasureDB.csdl|res://*/MeasureDB.ssdl|res://*/MeasureDB.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;Data Source=wzw8lcmdl5.database.windows.net,1433;Database=Measure;User ID=robert@wzw8lcmdl5;Password=Matthew633;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RandREng.MeasureDBEntity.MeasureEntities, RandREng.MeasureDBEntity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=wzw8lcmdl5.database.windows.net,1433;Initial Catalog=Measure;Integrated Security=False;User ID=robert@wzw8lcmdl5;Password=Matthew633;Connect Timeout=30;Encrypt=True" Name="Data Source=wzw8lcmdl5.database.windows.net,1433;Database=Measure;User ID=robert@wzw8lcmdl5;Password=Matthew633;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RandREng.IdentityDBEntity.ApplicationDbContext, RandREng.IdentityDBEntity" MigrationConfiguration="RandREng.IdentityDB.Migrations.Configuration, RandREng.IdentityDBEntity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=wzw8lcmdl5.database.windows.net,1433;Database=Measure;User ID=robert@wzw8lcmdl5;Password=Matthew633;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MeasureEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MeasureDB.csdl|res://*/MeasureDB.ssdl|res://*/MeasureDB.msl;provider=System.Data.SqlClient;provider connection string="metadata=res://*/MeasureDB.csdl|res://*/MeasureDB.ssdl|res://*/MeasureDB.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;Data Source=wzw8lcmdl5.database.windows.net,1433;Database=Measure;User ID=robert@wzw8lcmdl5;Password=Matthew633;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>